<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AnchorCableStressMapper">

    <!--获取最大测点编码，tag = '1'-->
    <select id="selectMaxMeasureNum" resultType="java.lang.String">
        SELECT ifnull(max(measure_num), 0)
        FROM drilling_stress
        WHERE sensor_type = #{sensorType} AND tag = '1'
          AND mine_id = #{mineId} AND del_flag = '0'
        ORDER BY SUBSTRING(measure_num, -4) DESC LIMIT 1;
    </select>

    <select id="selectQueryPage" resultType="com.ruoyi.system.domain.vo.AnchorCableStressVO">
        SELECT
            acs.anchor_cable_stress_id AS anchorCableStressId,
            acs.measure_num AS measureNum,
            acs.survey_area_name AS surveyAreaName,
            acs.workface_id AS workFaceId,
            acs.sensor_type AS sensorType,
            acs.sensor_location AS sensorLocation,
            acs.install_time AS installTime,
            acs.breaking_value AS breakingValue,
            acs.status AS status
        FROM anchor_cable_stress acs
        <where>
            <if test="measureSelectDTO.surveyAreaName != null and measureSelectDTO.surveyAreaName != ''">
                AND acs.survey_area_name like concat('%',#{measureSelectDTO.surveyAreaName},'%')
            </if>
            <if test="measureSelectDTO.workFaceId != null and measureSelectDTO.workFaceId != ''">
                AND acs.workface_id = #{measureSelectDTO.workFaceId}
            </if>
            <if test="measureSelectDTO.status != null and measureSelectDTO.status != ''">
                AND acs.status = #{measureSelectDTO.status}
            </if>
            <if test="measureSelectDTO.startTime != null">
                AND acs.install_time &gt;= #{measureSelectDTO.startTime}
            </if>
            <if test="measureSelectDTO.endTime != null">
                AND acs.install_time &lt;= #{measureSelectDTO.endTime}
            </if>
            AND acs.mine_id = #{mineId} AND acs.del_flag = '0'
        </where>
        ORDER BY acs.install_time DESC
    </select>


    <select id="selectMeasureNumList" resultType="java.lang.String">
        SELECT measure_num
        FROM anchor_cable_stress as acs
        <where>
            acs.mine_id = #{mineId} AND acs.del_flag = '0'
            <if test="surveyAreaName != null and surveyAreaName != ''">
                AND acs.survey_area_name like concat('%',#{surveyAreaName},'%')
            </if>
        </where>
    </select>

    <select id="selectParameterPage" resultType="com.ruoyi.system.domain.dto.actual.ParameterDTO">
        SELECT
        acs.anchor_cable_stress_id AS dataId,
        acs.measure_num AS measureNum,
        acs.workface_id AS workFaceId,
        acs.sensor_location AS sensorLocation,
        acs.sensor_type AS sensorType
        FROM anchor_cable_stress acs
        <where>
            acs.mine_id = #{mineId} AND acs.del_flag = '0'
            <if test="keyword != null and keyword != ''">
                AND (
                acs.sensor_location LIKE CONCAT('%', #{keyword}, '%')
                OR acs.workface_id IN (
                SELECT bw.workface_id
                FROM biz_workface bw
                WHERE bw.workface_name LIKE CONCAT('%', #{keyword}, '%')
                AND bw.del_flag = '0'
                AND bw.mine_id = #{mineId}
                )
                )
            </if>
        </where>
        ORDER BY acs.install_time DESC
    </select>

</mapper>