<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizProjectRecordMapper">

    <resultMap id="ProjectResultMap" type="com.ruoyi.system.domain.dto.largeScreen.MiddleDTO">
        <result property="constructType" column="constructType"/>
        <result property="tunnelId" column="tunnelId"/>
        <result column="projectIds" property="projectIds" typeHandler="com.ruoyi.system.handler.ListLongTypeHandler"/>
    </resultMap>

    <select id="queryDateByPage" resultType="com.ruoyi.system.domain.dto.ReportFormsDTO">
        select
            bpr.project_id as projectId,
            bpr.construct_time as constructTime,
            bpr.drill_type as drillType,
            bpr.construct_unit_id as constructUnitId,
            bpr.construct_shift_id as constructShiftId,
            bpr.construct_type as constructType,
            bpr.location_id as locationId,
            bpr.drill_num as drillNum,
            bpr.worker as worker,
            bpr.accepter as accepter,
            bpr.create_time as createTime
        from biz_project_record as bpr
        where bpr.drill_type in
        <foreach collection="drillTypes" item="drillType" index="index" open="(" close=")" separator=",">
            #{drillType}
        </foreach>
        <if test="startTime != null and endTime != null">
            and bpr.construct_time between #{startTime} and #{endTime}
        </if>
        and bpr.del_flag = '0'
        order by bpr.construct_time desc
    </select>

    <select id="queryProjectOfAudit" resultType="com.ruoyi.system.domain.dto.largeScreen.ProjectDTO">
        select
            bpr.project_id as projectId,
            bpr.construct_type as constructType,
            bpr.drill_type as drillType,
            bpr.construct_unit_id as constructUnitId,
            bpr.construct_time as constructTime,
            bpr.tunnel_id as tunnelId,
            bpr.workface_id as workFaceId,
           bpr.status as status
        from biz_project_record as bpr
        <where>
            <if test="constructionUnitId != null and constructionUnitId != ''">
                and bpr.construct_unit_id = #{constructionUnitId}
            </if>
            <if test="fillingType != null and fillingType != ''">
                and bpr.drill_type = #{fillingType}
            </if>
            <if test="startTime != null and endTime != null">
                and bpr.construct_time between #{startTime} and #{endTime}
            </if>
            and bpr.status = 6
        </where>
        order by bpr.construct_time desc
    </select>

    <select id="queryProjectOfUnaudited" resultType="com.ruoyi.system.domain.dto.largeScreen.ProjectDTO">
        select
        bpr.project_id as projectId,
        bpr.construct_type as constructType,
        bpr.drill_type as drillType,
        bpr.construct_unit_id as constructUnitId,
        bpr.construct_time as constructTime,
        bpr.tunnel_id as tunnelId,
        bpr.workface_id as workFaceId,
        bpr.status as status
        from biz_project_record as bpr
        <where>
            <if test="constructionUnitId != null and constructionUnitId != ''">
                and bpr.construct_unit_id = #{constructionUnitId}
            </if>
            <if test="fillingType != null and fillingType != ''">
                and bpr.drill_type = #{fillingType}
            </if>
            <if test="startTime != null and endTime != null">
                and bpr.construct_time between #{startTime} and #{endTime}
            </if>
            and bpr.status in (1,2,3,5)
        </where>
        order by bpr.construct_time desc
    </select>

    <select id="queryProjectType" resultType="com.ruoyi.system.domain.dto.largeScreen.ProjectTypeDTO">
        select drill_type as drillType,
        count(*) as count
        from biz_project_record
        <where>
            <if test="startTime != null and endTime != null">
                and construct_time between #{startTime} and #{endTime}
            </if>
            and del_flag = '0'
        </where>
        group by
        drill_type
    </select>

    <select id="queryProjectCount" resultMap="ProjectResultMap">
        select
            bpr.construct_type as constructType,
            bpr.tunnel_id as tunnelId,
            GROUP_CONCAT(bpr.project_id) as projectIds
        from biz_project_record as bpr
        where bpr.tunnel_id = #{tunnelId} and bpr.del_flag = '0'
        group by bpr.construct_type
    </select>

    <select id="queryProjectCountBatch" resultMap="ProjectResultMap">
        SELECT
        project_id AS projectId,
        tunnel_id AS tunnelId,
        construct_type AS constructType,
        GROUP_CONCAT(project_id) AS projectIds
        FROM biz_project_record
        WHERE del_flag = 0
        AND tunnel_id IN
        <foreach collection="tunnelIds" item="tunnelId" open="(" separator="," close=")">
            #{tunnelId}
        </foreach>
        GROUP BY construct_type
    </select>

    <select id="queryPrintList" resultType="com.ruoyi.system.domain.dto.PrintListDTO">
        select
            bpr.project_id as projectId,
            bpr.drill_num as drillNum,
            bpr.drill_type as drillType,
            bpr.construct_type as constructType,
            bpr.construct_unit_id as constructUnitId,
            bpr.construct_time as constructTime,
            bpr.tunnel_id as tunnelId,
            bpr.workface_id as workFaceId,
            bpr.worker as worker,
            bpr.accepter as accepter
        from biz_project_record as bpr
        <where>
        <if test="startTime != null and endTime != null">
            and bpr.construct_time between #{startTime} and #{endTime}
        </if>
        <if test="drillNum != null and drillNum != ''">
            and bpr.drill_num = #{drillNum}
        </if>
        and bpr.mine_id = #{mineId} and bpr.status = 6 and bpr.del_flag = '0'
        </where>
        order by bpr.construct_time desc
    </select>


</mapper>