<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ClassesMapper">

    <select id="selectClassesList" parameterType="com.ruoyi.system.domain.dto.ClassesSelectDTO" resultType="com.ruoyi.system.domain.vo.ClassesVO">
        select
        c.classes_id as classesId,
        c.classes_name as classesName,
        c.create_time as createTime,
        c.update_time as updateTime,
        c.del_flag as delFlag
        from classes as c
        <where>
            <if test="classesName != null and classesName != ''">
                and c.construction_unit_name like concat('%',#{classesName},'%')
            </if>
            <if test="startTime != null">
                and c.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and c.create_time &lt;= #{endTime}
            </if>
            and c.del_flag = '0'
        </where>
        order by c.create_time desc
    </select>
</mapper>