<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ConstructionUnitMapper">

    <select id="selectConstructionUnitByPage" resultType="com.ruoyi.system.domain.vo.ConstructionUnitVO">
        select
        cn.construction_unit_id as constructionUnitId,
        cn.construction_unit_name as constructionUnitName,
        cn.create_time as createTime,
        cn.update_time as updateTime,
        cn.del_flag as delFlag
        from construction_unit as cn
        <where>
            <if test="constructUnitSelectDTO.constructionUnitName != null and constructUnitSelectDTO.constructionUnitName != ''">
                and cn.construction_unit_name like concat('%',#{constructUnitSelectDTO.constructionUnitName},'%')
            </if>
            <if test="constructUnitSelectDTO.startTime != null">
                and cn.create_time &gt;= #{constructUnitSelectDTO.startTime}
            </if>
            <if test="constructUnitSelectDTO.endTime != null">
                and cn.create_time &lt;= #{constructUnitSelectDTO.endTime}
            </if>
            and cn.del_flag = '0' and cn.mine_id = #{mineId}
        </where>
        order by cn.create_time desc
    </select>
</mapper>