<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ConstructionPersonnelMapper">

    <select id="selectConstructionPersonnelByPage" parameterType="com.ruoyi.system.domain.dto.PersonnelSelectDTO"
            resultType="com.ruoyi.system.domain.vo.ConstructPersonnelVO">
        select
        cp.construction_personnel_id as constructionPersonnelId,
        cp.name as name,
        cp.construction_unit_id as constructionUnitId,
        cp.profession as profession,
        cp.create_time as createTime,
        cp.update_time as updateTime,
        cp.del_flag as delFlag
        from construction_personnel as cp
        <where>
            <if test="name != null and name != ''">
                and cp.name like concat('%',#{name},'%')
            </if>
            <if test="constructionUnitId != null">
                and cp.construction_unit_id = #{constructionUnitId}
            </if>
            <if test="profession != null and profession!= ''">
                and cp.profession = #{profession}
            </if>
            <if test="startTime != null">
                and cp.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and cp.create_time &lt;= #{endTime}
            </if>
            and cp.del_flag = '0'
        </where>
        order by cp.create_time desc
    </select>

    <!--根据施工部门和工种查询施工人员-->
    <select id="selectChoiceList" resultType="com.ruoyi.system.domain.dto.PersonnelChoiceListDTO">
        select
            cp.construction_personnel_id as value,
            cp.name as label
        from construction_personnel as cp
        <where>
            and cp.construction_unit_id = #{constructionUnitId} and cp.profession = #{profession}
            and cp.del_flag = '0'
        </where>
    </select>

</mapper>