<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DepartmentAuditMapper">

    <!--获取同一工程填报，最大的审核次数-->
    <select id="selectMaxNumber" resultType="java.lang.Integer">
        select ifnull(max(number), 0)
        from department_audit as da
        where da.project_id = #{projectId} and da.del_flag = '0'
    </select>

    <select id="queryByPage" resultType="com.ruoyi.system.domain.vo.ProjectVO">
        select
        bpr.project_id as projectId,
        bpr.construct_type as constructType,
        bpr.drill_type as drillType,
        bpr.construct_unit_id as constructUnitId,
        bpr.construct_time as constructTime,
        bpr.location_id as constructSiteId,
        bpr.drill_num as drillNum,
        bpr.create_time as createTime,
        bpr.status as status,
        bpr.dept_id as deptId,
        bpr.create_by as createBy,
        bpr.del_flag as delFlag
        from biz_project_record as bpr
        left join team_audit as ta on bpr.project_id = ta.project_id
        <where>
            <if test="selectDeptAuditDTO.type != null and selectDeptAuditDTO.type != ''">
                and bpr.construct_type = #{selectDeptAuditDTO.type}
            </if>
            <if test="selectDeptAuditDTO.constructSite != null and selectDeptAuditDTO.constructSite != ''">
                and bpr.location_id = #{selectDeptAuditDTO.constructSite}
            </if>
            <if test="selectDeptAuditDTO.constructionUnitId != null and selectDeptAuditDTO.constructionUnitId != ''">
                and bpr.construct_unit_id = #{selectDeptAuditDTO.constructionUnitId}
            </if>
            <if test="selectDeptAuditDTO.fillingType != null and selectDeptAuditDTO.fillingType != ''">
                and bpr.drill_type = #{selectDeptAuditDTO.fillingType}
            </if>
            <if test="selectDeptAuditDTO.startTime != null and selectDeptAuditDTO.endTime != null">
                and bpr.construct_time between #{selectDeptAuditDTO.startTime} and #{selectDeptAuditDTO.endTime}
            </if>
            <if test="projectIds != null and !projectIds.isEmpty()">
                and bpr.project_id in
                <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator="," >
                    #{projectId}
                </foreach>
            </if>
            <if test="deptIds != null and !deptIds.isEmpty() or dateScopeSelf == 5">
                <choose>
                    <when test="deptIds != null and deptIds.size() > 0">
                        <trim prefix="and (" suffix=")">
                            bpr.dept_id in
                            <foreach collection="deptIds" item="deptId" index="index" open="(" close=")" separator=",">
                                #{deptId}
                            </foreach>
                            <if test="dateScopeSelf == 5">
                                or bpr.create_by = #{userName}
                            </if>
                        </trim>
                    </when>
                    <when test="dateScopeSelf == 5">
                        bpr.create_by = #{userName}
                    </when>
                </choose>
            </if>
            and bpr.tag = '2' and bpr.del_flag = '0' and ta.audit_result = '1' and ta.depart_audit_state not in(3,4)
        </where>
        order by bpr.construct_time desc
    </select>

    <!--审核历史分页查询-->
    <select id="auditHistoryPage" resultType="com.ruoyi.system.domain.vo.ProjectVO">
        select
        bpr.project_id as projectId,
        bpr.construct_type as constructType,
        bpr.drill_type as drillType,
        bpr.construct_unit_id as constructUnitId,
        bpr.construct_time as constructTime,
        bpr.location_id as constructSiteId,
        bpr.drill_num as drillNum,
        bpr.status as status,
        bpr.create_time as createTime,
        bpr.dept_id as deptId,
        bpr.create_by as createBy,
        bpr.del_flag as delFlag
        from biz_project_record as bpr
        <where>
            <if test="selectProjectDTO.type != null and selectProjectDTO.type != ''">
                and bpr.construct_type = #{selectProjectDTO.type}
            </if>
            <if test="selectProjectDTO.constructSite != null and selectProjectDTO.constructSite != ''">
                and bpr.location_id = #{selectProjectDTO.constructSite}
            </if>
            <if test="selectProjectDTO.constructionUnitId != null and selectProjectDTO.constructionUnitId != ''">
                and bpr.construct_unit_id = #{selectProjectDTO.constructionUnitId}
            </if>
            <if test="selectProjectDTO.fillingType != null and selectProjectDTO.fillingType != ''">
                and bpr.drill_type = #{selectProjectDTO.fillingType}
            </if>
            <if test="selectProjectDTO.state != null and selectProjectDTO.state != ''">
                and bpr.status = #{selectProjectDTO.state}
            </if>
            <if test="selectProjectDTO.startTime != null and selectProjectDTO.endTime != null">
                and bpr.construct_time between #{selectProjectDTO.startTime} and #{selectProjectDTO.endTime}
            </if>
            <if test="deptIds != null and !deptIds.isEmpty() or dateScopeSelf == 5">
                <choose>
                    <when test="deptIds != null and deptIds.size() > 0">
                        <trim prefix="and (" suffix=")">
                            bpr.dept_id in
                            <foreach collection="deptIds" item="deptId" index="index" open="(" close=")" separator=",">
                                #{deptId}
                            </foreach>
                            <if test="dateScopeSelf == 5">
                                or bpr.create_by = #{userName}
                            </if>
                        </trim>
                    </when>
                    <when test="dateScopeSelf == 5">
                        bpr.create_by = #{userName}
                    </when>
                </choose>
            </if>
            and bpr.status in (3,4) and bpr.del_flag = '0'
        </where>
        order by bpr.construct_time desc
    </select>

    <!--适用于APP的科室审核分页查询(待审核)-->
    <select id="queryByPageForApp" resultType="com.ruoyi.system.domain.vo.ProjectVO">
        select
        bpr.project_id as projectId,
        bpr.construct_type as constructType,
        bpr.drill_type as drillType,
        bpr.construct_unit_id as constructUnitId,
        bpr.construct_time as constructTime,
        bpr.location_id as constructSiteId,
        bpr.drill_num as drillNum,
        bpr.create_time as createTime,
        bpr.status as status,
        bpr.del_flag as delFlag
        from biz_project_record as bpr
        left join team_audit as ta on bpr.project_id = ta.project_id
        <where>
            <if test="constructionUnitId != null and constructionUnitId != ''">
                and bpr.construct_unit_id = #{constructionUnitId}
            </if>
            <if test="fillingType != null and fillingType != ''">
                and bpr.drill_type = #{fillingType}
            </if>
            <if test="projectIds != null and !projectIds.isEmpty()">
                and bpr.project_id in
                <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator="," >
                    #{projectId}
                </foreach>
            </if>
            and bpr.tag = '2' and bpr.del_flag = '0' and ta.audit_result = '1' and ta.depart_audit_state not in(3,4)
        </where>
        order by bpr.construct_time desc
    </select>

    <!--适用于APP的科室审核分页查询(已审核)-->
    <select id="approvedQueryByPageForApp" resultType="com.ruoyi.system.domain.vo.ProjectVO">
        select
        bpr.project_id as projectId,
        bpr.construct_type as constructType,
        bpr.drill_type as drillType,
        bpr.construct_unit_id as constructUnitId,
        bpr.construct_time as constructTime,
        bpr.drill_num as drillNum,
        bpr.location_id as constructSiteId,
        bpr.status as status,
        bpr.create_time as createTime,
        bpr.del_flag as delFlag
        from biz_project_record as bpr
        left join department_audit as da on bpr.project_id = da.project_id
        <where>
            <if test="projectIds != null and !projectIds.isEmpty()">
                and bpr.project_id in
                <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator="," >
                    #{projectId}
                </foreach>
            </if>
            <if test="fillingType!= null and fillingType != ''">
                and bpr.drill_type = #{fillingType}
            </if>
            <if test="constructionUnitId != null and constructionUnitId != ''">
                and bpr.construct_unit_id = #{constructionUnitId}
            </if>
            and bpr.tag = '2' and bpr.status not in (0,1) and bpr.del_flag = '0'
        </where>
        order by bpr.construct_time desc
    </select>
</mapper>