<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DrillingStressMapper">

    <!--获取最大测点编码，tag = '1'-->
    <select id="selectMaxMeasureNum" resultType="java.lang.String">
        SELECT ifnull(max(measure_num), 0)
        FROM drilling_stress
        WHERE tag = '1'
          AND mine_id = #{mineId} AND del_flag = '0'
        ORDER BY SUBSTRING(measure_num, -4) DESC LIMIT 1;
    </select>

    <select id="selectQueryPage" resultType="com.ruoyi.system.domain.vo.DrillingStressVO">
        SELECT
            ds.drilling_stress_id AS drillingStressId,
            ds.measure_num AS measureNum,
            ds.survey_area_name AS surveyAreaName,
            ds.workface_id AS workFaceId,
            ds.sensor_type AS sensorType,
            ds.sensor_location AS sensorLocation,
            ds.install_time AS installTime,
            ds.install_depth AS installDepth,
            ds.initial_stress AS initialStress,
            ds.status AS status
        FROM drilling_stress ds
        <where>
            <if test="measureSelectDTO.surveyAreaName != null and measureSelectDTO.surveyAreaName != ''">
                AND ds.survey_area_name like concat('%',#{measureSelectDTO.surveyAreaName},'%')
            </if>
            <if test="measureSelectDTO.workFaceId != null and measureSelectDTO.workFaceId != ''">
                AND ds.workface_id = #{measureSelectDTO.workFaceId}
            </if>
            <if test="measureSelectDTO.status != null and measureSelectDTO.status != ''">
                AND ds.status = #{measureSelectDTO.status}
            </if>
            <if test="measureSelectDTO.startTime != null">
                AND ds.install_time &gt; = #{measureSelectDTO.startTime}
            </if>
            <if test="measureSelectDTO.endTime != null">
                AND ds.install_time &lt; = #{measureSelectDTO.endTime}
            </if>
            AND ds.mine_id = #{mineId} AND ds.del_flag = '0'
        </where>
        ORDER BY ds.install_time DESC
    </select>

    <select id="selectMeasureNumList" resultType="java.lang.String">
        SELECT measure_num
        FROM drilling_stress as ds
        <where>
            ds.mine_id = #{mineId} AND ds.del_flag = '0'
            <if test="surveyAreaName != null and surveyAreaName != ''">
                AND ds.survey_area_name like concat('%',#{surveyAreaName},'%')
            </if>
        </where>
    </select>

    <select id="selectParameterPage" resultType="com.ruoyi.system.domain.dto.actual.ParameterDTO">
        SELECT
        ds.drilling_stress_id AS dataId,
        ds.measure_num AS measureNum,
        ds.workface_id AS workFaceId,
        ds.sensor_location AS sensorLocation,
        ds.sensor_type AS sensorType
        FROM drilling_stress ds
        <where>
            ds.mine_id = #{mineId} AND ds.del_flag = '0'
            <if test="keyword != null and keyword != ''">
                AND (
                ds.sensor_location LIKE CONCAT('%', #{keyword}, '%')
                OR ds.workface_id IN (
                SELECT bw.workface_id
                FROM biz_workface bw
                WHERE bw.workface_name LIKE CONCAT('%', #{keyword}, '%')
                AND bw.del_flag = '0'
                AND bw.mine_id = #{mineId}
                )
                )
            </if>
        </where>
        GROUP BY ds.install_time DESC
    </select>

</mapper>