<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlanMapper">

    <select id="queryPage" resultType="com.ruoyi.system.domain.vo.PlanVO">
        select distinct
        c.contents_id as contentsId,
        p.plan_id as planId,
        p.plan_name as planName,
        p.plan_type as planType,
        p.total_drill_number as totalDrillNum,
        p.total_hole_depth as totalHoleDepth,
        p.drill_type as drillType,
        p.start_time as startTime,
        p.end_time as endTime,
        (case when p.type = '1' then '掘进' when p.type = '2' then '回采' end) as type,
        p.state as state,
        p.del_flag as delFlag
        from plan as p
        left join plan_contents_mapping as c on p.plan_id = c.plan_id
        where p.plan_id in
        <foreach collection="planIds" item="planId" index="index" open="(" close=")" separator="," >
            #{planId}
        </foreach>
            <if test="selectPlanDTO.planName != null and selectPlanDTO.planName != ''">
                and p.plan_name like concat('%',#{selectPlanDTO.planName},'%')
            </if>
            <if test="selectPlanDTO.type != null and selectPlanDTO.type != ''">
                and p.type = #{selectPlanDTO.type}
            </if>
            <if test="selectPlanDTO.drillType != null and selectPlanDTO.drillType != ''">
                and p.drill_type = #{selectPlanDTO.drillType}
            </if>
            <if test="selectPlanDTO.state != null and selectPlanDTO.state != ''">
                and p.state = #{selectPlanDTO.state}
            </if>
            <if test="selectPlanDTO.startTime != null and selectPlanDTO.startTime != ''">
                and p.start_time &gt;= #{selectPlanDTO.startTime}
            </if>
            <if test="selectPlanDTO.endTime != null and selectPlanDTO.endTime != ''">
                and p.end_time &lt;= #{selectPlanDTO.endTime}
            </if>
            and p.del_flag = '0'
        order by p.create_time desc
    </select>
</mapper>