<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlanAuditMapper">

    <!--获取同一计划，最大的审核次数-->
    <select id="selectMaxNumber" resultType="java.lang.Integer">
        select ifnull(max(number), 0)
        from plan_audit as pa
        where pa.plan_id = #{planId} and pa.del_flag = '0'
    </select>


    <select id="queryPage" resultType="com.ruoyi.system.domain.vo.PlanVO">
        select
        p.plan_id as planId,
        p.plan_type as planType,
        (case when p.type = '1' then '掘进' when p.type = '2' then '回采' end) as type,
        p.plan_name as planName,
        p.drill_type as drillType,
        p.total_drill_number as totalDrillNumber,
        p.total_hole_depth as totalHoleDepth,
        p.start_time as startTime,
        p.end_time as endTime,
        p.state as state,
        p.del_flag as delFlag
        from plan as p
        <where>
            <if test="selectPlanDTO.planName != null and selectPlanDTO.planName != ''">
                and p.plan_name like concat('%',#{selectPlanDTO.planName},'%')
            </if>
            <if test="selectPlanDTO.type != null and selectPlanDTO.type != ''">
                and p.type = #{selectPlanDTO.type}
            </if>
            <if test="selectPlanDTO.drillType != null and selectPlanDTO.drillType != ''">
                and p.drill_type = #{selectPlanDTO.drillType}
            </if>
            <if test="selectPlanDTO.startTime != null">
                and p.start_time &gt;= #{selectPlanDTO.startTime}
            </if>
            <if test="selectPlanDTO.endTime != null">
                and p.end_time &lt;= #{selectPlanDTO.endTime}
            </if>
            <if test="deptIds != null and !deptIds.isEmpty() or dateScopeSelf == 5">
                <choose>
                    <when test="deptIds != null and deptIds.size() > 0">
                        <trim prefix="and (" suffix=")">
                            p.dept_id in
                            <foreach collection="deptIds" item="deptId" index="index" open="(" close=")" separator=",">
                                #{deptId}
                            </foreach>
                            <if test="dateScopeSelf == 5">
                                or p.create_by = #{userName}
                            </if>
                        </trim>
                    </when>
                    <when test="dateScopeSelf == 5">
                        p.create_by = #{userName}
                    </when>
                </choose>
            </if>
            and p.state in ('1','2') and p.del_flag = '0'
        </where>
        order by p.create_time desc
    </select>

    <!--审核历史分页查询-->
    <select id="auditHistoryPage" resultType="com.ruoyi.system.domain.vo.PlanVO">
        select distinct
        c.contents_id as contentsId,
        p.plan_id as planId,
        p.plan_name as planName,
        p.plan_type as planType,
        p.total_drill_number as totalDrillNum,
        p.total_hole_depth as totalHoleDepth,
        p.drill_type as drillType,
        p.start_time as startTime,
        p.end_time as endTime,
        (case when p.type = '1' then '掘进' when p.type = '2' then '回采' end) as type,
        p.state as state,
        p.del_flag as delFlag
        from plan as p
        left join plan_contents_mapping as c on p.plan_id = c.plan_id
        where p.plan_id in
            <foreach collection="planIds" item="planId" index="index" open="(" close=")" separator="," >
                #{planId}
            </foreach>
            <if test="selectPlanDTO.planName != null and selectPlanDTO.planName != ''">
                and p.plan_name like concat('%',#{selectPlanDTO.planName},'%')
            </if>
            <if test="selectPlanDTO.type != null and selectPlanDTO.type != ''">
                and p.type = #{selectPlanDTO.type}
            </if>
            <if test="selectPlanDTO.drillType != null and selectPlanDTO.drillType != ''">
                and p.drill_type = #{selectPlanDTO.drillType}
            </if>
            <if test="selectPlanDTO.state != null and selectPlanDTO.state != ''">
                and p.state = #{selectPlanDTO.state}
            </if>
            <if test="selectPlanDTO.startTime != null and selectPlanDTO.startTime != ''">
                and p.start_time &gt;= #{selectPlanDTO.startTime}
            </if>
            <if test="selectPlanDTO.endTime != null and selectPlanDTO.endTime != ''">
                and p.end_time &lt;= #{selectPlanDTO.endTime}
            </if>
            <if test="deptIds != null and !deptIds.isEmpty() or dateScopeSelf == 5">
                <choose>
                    <when test="deptIds != null and deptIds.size() > 0">
                        <trim prefix="and (" suffix=")">
                            p.dept_id in
                            <foreach collection="deptIds" item="deptId" index="index" open="(" close=")" separator=",">
                                #{deptId}
                            </foreach>
                            <if test="dateScopeSelf == 5">
                                or p.create_by = #{userName}
                            </if>
                        </trim>
                    </when>
                    <when test="dateScopeSelf == 5">
                        p.create_by = #{userName}
                    </when>
                </choose>
            </if>
            and p.state in ('3','4') and p.del_flag = '0'
        order by p.create_time desc
    </select>
</mapper>