<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProjectWarnSchemeMapper">

    <select id="selectQueryByPage" resultType="com.ruoyi.system.domain.vo.ProjectWarnSchemeVO"
            parameterType="com.ruoyi.system.domain.dto.SelectProjectWarnDTO" >
        select
            pws.project_warn_scheme_id as projectWarnSchemeId,
            pws.scheme_name as schemeName,
            pws.plan_type as planType,
            pws.workload_rule as workloadRule,
            pws.distance_rule as distanceRule,
            pws.status as status,
        from project_warn_scheme as pws
        <where>
            <if test="schemeName != null and schemeName != ''">
                and pws.scheme_name like concat('%',#{schemeName},'%')
            </if>
            <if test="planType != null and planType != ''">
                and pws.plan_type = #{planType}
            </if>
            <if test="status != null and status != ''">
                and pws.status = #{status}
            </if>
            and pws.del_flag = '0'
        </where>
        order by pws.create_time desc
    </select>
</mapper>