<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SupportResistanceMapper">

    <!--获取最大测点编码，tag = '1'-->
    <select id="selectMaxMeasureNum" resultType="java.lang.String">
        SELECT ifnull(max(measure_num), 0)
        FROM support_resistance
        WHERE tag = '1'
          AND del_flag = '0'
        ORDER BY SUBSTRING(measure_num, -4) DESC LIMIT 1;
    </select>

    <select id="selectQueryPage" parameterType="com.ruoyi.system.domain.dto.SupportResistanceDTO" resultType="com.ruoyi.system.domain.vo.SupportResistanceVO">
        SELECT
            sr.support_resistance_id AS supportResistanceId,
            sr.measure_num AS measureNum,
            sr.survey_area_id AS surveyAreaId,
            sr.work_face_id AS workFaceId,
            sr.sensor_type AS sensorType,
            sr.column_num AS columnNum,
            sr.column_name AS columnName,
            sr.sensor_location AS sensorLocation,
            sr.data_time AS dataTime,
            sr.status AS status
        FROM support_resistance sr
        <where>
            <if test="surveyAreaId != null and surveyAreaId != ''">
                AND sr.survey_area_id = #{surveyAreaId}
            </if>
            <if test="workFaceId != null and workFaceId != ''">
                AND sr.work_face_id = #{workFaceId}
            </if>
            <if test="status != null and status != ''">
                AND sr.status = #{status}
            </if>
            <if test="startTime != null">
                AND sr.data_time &gt; = #{startTime}
            </if>
            <if test="endTime != null">
                AND sr.data_time &lt; = #{endTime}
            </if>
            AND sr.del_flag = '0'
        </where>
        ORDER BY sr.data_time DESC
    </select>

</mapper>