<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SupportResistanceMapper">

    <!--获取最大测点编码，tag = '1'-->
    <select id="selectMaxMeasureNum" resultType="java.lang.String">
        SELECT ifnull(max(measure_num), 0)
        FROM support_resistance
        WHERE tag = '1'
          AND mine_id = #{mineId} AND del_flag = '0'
        ORDER BY SUBSTRING(measure_num, -4) DESC LIMIT 1;
    </select>

    <select id="selectQueryPage" resultType="com.ruoyi.system.domain.vo.SupportResistanceVO">
        SELECT
            sr.support_resistance_id AS supportResistanceId,
            sr.measure_num AS measureNum,
            sr.survey_area_name AS surveyAreaName,
            sr.workface_id AS workFaceId,
            sr.sensor_type AS sensorType,
            sr.column_num AS columnNum,
            sr.column_name AS columnName,
            sr.sensor_location AS sensorLocation,
            sr.data_time AS dataTime,
            sr.status AS status
        FROM support_resistance sr
        <where>
            <if test="measureSelectDTO.surveyAreaName != null and measureSelectDTO.surveyAreaName != ''">
                AND sr.survey_area_name like concat('%',#{measureSelectDTO.surveyAreaName},'%')
            </if>
            <if test="measureSelectDTO.workFaceId != null and measureSelectDTO.workFaceId != ''">
                AND sr.workface_id = #{measureSelectDTO.workFaceId}
            </if>
            <if test="measureSelectDTO.status != null and measureSelectDTO.status != ''">
                AND sr.status = #{measureSelectDTO.status}
            </if>
            <if test="measureSelectDTO.startTime != null">
                AND sr.data_time &gt; = #{measureSelectDTO.startTime}
            </if>
            <if test="measureSelectDTO.endTime != null">
                AND sr.data_time &lt; = #{measureSelectDTO.endTime}
            </if>
            AND sr.mine_id = #{mineId} AND sr.del_flag = '0'
        </where>
        ORDER BY sr.data_time DESC
    </select>

    <select id="selectMeasureNumList" resultType="java.lang.String">
        SELECT measure_num
        FROM support_resistance as sr
        <where>
            sr.mine_id = #{mineId} AND sr.del_flag = '0'
            <if test="surveyAreaName != null and surveyAreaName != ''">
                AND sr.survey_area_name like concat('%',#{surveyAreaName},'%')
            </if>
        </where>
    </select>

    <select id="selectParameterPage" resultType="com.ruoyi.system.domain.dto.actual.ParameterDTO">
        SELECT
        sr.support_resistance_id AS dataId,
        sr.measure_num AS measureNum,
        sr.workface_id AS workFaceId,
        sr.sensor_location AS sensorLocation,
        sr.sensor_type AS sensorType
        FROM support_resistance sr
        <where>
            sr.mine_id = #{mineId} AND sr.del_flag = '0'
            <if test="keyword != null and keyword != ''">
                AND (
                sr.sensor_location LIKE CONCAT('%', #{keyword}, '%')
                OR sr.workface_id IN (
                SELECT bw.workface_id
                FROM biz_workface bw
                WHERE bw.workface_name LIKE CONCAT('%', #{keyword}, '%')
                AND bw.del_flag = '0'
                AND bw.mine_id = #{mineId}
                )
                )
            </if>
        </where>
        GROUP BY sr.data_time DESC
    </select>

</mapper>